<div class='ui inverted attached message' id="my_section2">

  <div class='header'>How it Works</div>
  <p>Explanation of how it works</p>
</div>
<div class='ui attached message'>
<div class='content'>
content
yada<br>
test
</div>
</div>
<div id="three_clipart_columns" class="ui three column grid">
  <div class="column">
    <div class='ui segment'>
      <%= semantic_icon(:legal) %>
      <p>explanation 1</p>
    </div>
  </div>
  <div class="column">
    <div class='ui segment'>
      <%= semantic_icon(:location) %>
      <p>explanation 1</p>
    </div>
  </div>  
  <div class="column">
    <div class='ui segment'>
      <%= semantic_icon(:mail) %>
      <p>explanation 1</p>
    </div>
  </div>
</div>
<div class='ui segment'>
  test
</div>