<div class="ui three column grid">
  <div class="column">
  </div>
  <div id="centered" class="column the_sell ">
    <h1 class="super_title">CLEAR YOUR CRIMINAL RECORD</h1>
    <p class="sidekick_caption">Travel to the USA & Get Great Jobs</p><br>
    <div id='signupbutton' class='ui huge button'>
      <%= semantic_icon(:key) %>
      sign up now
    </div>
  </div>
  <div class="column">
  </div>
</div>