<div class="ui three column grid">
  <div class="column">
  </div>
  <div id="centered" class="column the_sell ">
    <h1 class="super_title">TREAT YOURSELF</h1>
    <p class="sidekick_caption">Premium Smoking Supplies <br> to your Doorstep</p><br>
    <div id='signupbutton' class='ui huge button'>
      <%= semantic_icon(:key) %>
      sign up now
    </div>
  </div>
  <div class="column">
  </div>
</div>