<div class='ui inverted attached message' id="my_section2">

  <div class='header'>How it Works</div>
  <p>Customize your box to bring you the best items each month</p>
</div>
<div class='ui attached message'>
<div class='content'>
content
yada<br>
test
</div>
</div>
<div id="three_clipart_columns" class="ui three column grid">
  <div class="column">
    <div class='ui segment'>
      <%= image_tag("columns/rp.svg", class: "ui left floated image") %>
      <p>Select an assortment of <b class="pink">flavoured rolling papers </b></p>
    </div>
  </div>
  <div class="column">
    <div class='ui segment'>
      <%= image_tag("columns/bbong.svg", class: "ui left floated image") %>
      <p>Bongs & pipes of all shapes and sizes!</p>
    </div>
  </div>  
  <div class="column">
    <div class='ui segment'>
      <%= image_tag("columns/zippo.svg", class: "ui left floated image") %>
      <p>Lighters and other smoking accessories</p>
    </div>
  </div>
</div>
<div class='ui segment'>
  test
</div>