// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body > div.ui.sidebar {
  z-index:1000;
}

#seethrough {
  opacity: 0.8;
}

.the_sell {
  color: white;
}

.super_title {
  font-size: 250%;
  background-color: black;
  opacity: 0.8;
}

.sidekick_caption {
  background-color: white;
  opacity: 0.8;
  color: black;
}

#signupbutton {
  position:relative;
}

#section1 {
  background: url("blunt.jpg") no-repeat center center fixed;  
}

#centered {
  text-align: center;
}

#logo {
  display: inline-block;
}
