// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body > div.ui.sidebar {
  z-index:1000;
}

#section1 {
  text-align:center;
}

