// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body > div.ui.sidebar {
  z-index:1000;
}

#seethrough {
  opacity: 0.8;
}

.the_sell {
  color: white;
}

.super_title {
  font-size: 250%;
  background-color: black;
  opacity: 0.8;
  border-radius: 25px 25px 0 0;
}

.sidekick_caption {
  background-color: white;
  opacity: 0.8;
  color: black;
}

#signupbutton {
  position:relative;
  opacity: 0.85;
}

#signupbutton:hover {
  opacity: 1;
}

#section1 {
  background: url("pardons/chainstone.jpg") no-repeat center center fixed;  
}

#centered {
  text-align: center;
}

#logo {
  display: inline-block;
}

#section2 {
  text-align:center;
}

#my_section2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color:#3C3C3C;
}

#three_clipart_columns {
  width: 90%;
  margin-left: auto;
  margin-right: auto; 
}

.pink {
  color: #FF0051;
}