<div class="ui fixed transparent inverted main menu">
  <div class="container">
    <a class="launch item">
      <i class="icon list layout"></i>
      Logo
    </a>
    <div class="right title item">
      <b>Login</b>
    </div>
    <div class="right item">
      <b>item 2</b>
    </div>
    <div class="right item">
      <b>item 1</b>
    </div>
    
    
  </div>
</div>
</div>