<div id="header" class="ui fixed transparent inverted main menu">
  <div class="container">
    <a class="launch item">
      SaaS
    </a>
    <% if current_user || user_signed_in? %>
    <%= link_to destroy_user_session_path, html_options = {method: :delete } do %>
    <div class="ui right item" id='login'>
      <div class='text'>Logout</div>
    </div>
    <% end %>
    <% else %>
    <%= link_to new_user_session_path do %>
    <div class="ui right item" id='login'>
      <div class='text'>Login</div>
    </div>
    <% end %>
    <% end %>    
    <a class="right item">
      <%= semantic_icon(:comment) %>
      Testimonials
    </a>
    <a class="right item">
      <%= semantic_icon(:wrench) %>
      How it Works
    </a>
  </div>
</div>
</div>
